body {
    
}

.ContainerDeCima {
    background: linear-gradient(132deg, rgba(181,175,177,1) 0%, rgba(0,0,0,1) 0%, rgba(32,8,14,1) 0%, rgba(181,13,48,1) 100%);

}

.Jumbotron { /*Cor da Jumbotron*/
    text-align: left;
    background-color: white;
}
.Titulo { /*Cor do Titulo*/
    font-size: 27px;
    color: #b50d3a;
    font-family: "Montserrat", sans-serif;
    margin: 0px 0px 15px 0px;
    line-height: 1.4;
    color: #b50d3a;
    font-weight: 500;
    
}

.Frase {
    color: #333;
    font-family: "Montserrat",sans-serif;
    line-height: 1.4;
    padding: 0px;
    margin: 0px;
    font-weight: 300;
}

.Textos {
    color: #b50d3a; /*Vermelho*/
    border-bottom: 1px solid;
    border-color: #b50d3a;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    text-align:center;
}

.TextBox { /*Modificações das TextBox*/
    display:block;
    height: 34px;
    width: 100%;
    position: center;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    background-color: #f1f1f1;
    color: #555;
    border: 1px solid #eee;
    border-radius: 4px;    
}

.BotãoRed { /*Modificações dos Botões*/
    background-color: #b50d3a; /*Cor Vermelha*/
    color: white;
    font-family: "Montserrat-Regular", sans-serif;
    line-height: 1.42857;
    border-radius: 4px;
    font-size: 15px;
    height: 40px;
    border-color: white;
}

.Grid {
    border-color: white;
    color: red;
}

.ItemPerdidoAchado {
    background: linear-gradient(132deg, rgba(181,175,177,1) 0%, rgba(0,0,0,1) 0%, rgba(32,8,14,1) 0%, rgba(181,13,48,1) 100%);
    font-family: "Montserrat-Regular", sans-serif;
    color: white;
    text-align: center;
    width: 400px;
    font-size: 24px;
    border:0px solid;
}

.radio {
    border-color: #b50d3a;
    font-family: "Montserrat-Regular", sans-serif;
    color: #b50d3a;
    height: 100px;
    text-align: center;
    width:150px;
}

.FraseContainer {
    color: white;
    font-family: "Montserrat-Regular", sans-serif;    
}

.FraseImage {
    text-align: center;
    color: white;
    font-family: "Montserrat-Regular", sans-serif;
    font-size:20px;    
}

.demo-wrap {
    overflow: hidden;
    position: relative;
}

.demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.demo-content {
    position: relative;
}